# Virtual environment
neon_snake_env/
venv/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store

# PyCharm files
.idea/

# VS Code files
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

high_scores.txt